@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #151414;
}
#root {
  /* Font settings */
  /* height: 100vh; */
  width: 100%;
  font-family: system-ui, -apple-system, "Segoe UI", Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Optional: smooth transitions for colors */
  transition: color 0.2s ease, background-color 0.2s ease;
}
.navbar{
  display: flex;
  height: 100px;
  background: #232323;
  align-items: center;
  justify-content: space-around;
}
.heading{
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}
.visitwebsitelink{
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}
.visitwebsitelink:hover{
  color: #7b98f6;
}
.requestpanel{
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-around;
  border: #091321 solid 10px;   border-radius: 10px;
  color: #020000;
  background: #fff;
}
.refresh-button{
  background: #000;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.InfoPanel{
  color: white;
}
.statnchart {
  display: grid;
  margin: 2rem 0;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}
.statcard{
  color: white;
  margin: 0 4rem;
  align-content: center;
}
.backendapichart{

  color: #000;
  margin: 2rem 4rem;
  border-radius: 10px;
  padding: 1rem;
}
/* Responsive behavior */
@media (max-width: 1024px) {
  .statnchartcontainer {
    flex-direction: column;
  }
}
/* Title consistency */
.chart-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}
.apinote{
  width: 100%;
}
.login-button{
  width: 150px;
  background: linear-gradient(45deg, #6c6c6d, #151414);
  color: white;
  height: 50px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
}